:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Noto Sans TC Variable', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.poop {
  position: absolute;
  font-size: 100px;
  animation: spin 3s linear infinite;
  user-select: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Apple Color Emoji";
  src: url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.eot");
  src: url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5ab304ade0d4f62d027d12464ca69443.svg#Apple Color Emoji")format("svg");
}