:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Noto Sans TC Variable', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.poop {
  position: absolute;
  font-size: 100px;
  animation: spin 3s linear infinite;
  user-select: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.golden-poop {
  position: relative;
  display: inline-block;
}

.golden-poop::after {
  content: "💩";
  position: absolute;
  top: 0;
  left: 0;
  filter: 
    brightness(0.9)
    contrast(1.1)
    saturate(1.3)
    sepia(1.5)
    hue-rotate(5deg);
  mix-blend-mode: color-dodge;
  opacity: 0.8;
}
